# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environment
.venv/

# Logs and local artifacts
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# runtime data
data/
*.json